<div class="row no-gutters d-flex justify-content-center m-3">
    <div class="col-sm align-self-center ">
        <img [src]="myimage" alt="" height="100%" width="100%" class="rounded">
    </div>
    <div class="col-sm align-self-center m-2">
        <h1 class="heading">The software development tool used by agile teams </h1>
        <a class="btn btn-primary mt-3" *ngIf="!empAuth.isSignedIn" routerLink="/auth">Join Now</a>
    </div>
</div>
<hr>
<div class="container">
    <div class="row  no-gutters d-flex justify-content-center m-3">
        <h2 class="heding text-center col-sm align-self-center">Choose a workflow, or make your own </h2>
        <p class="lead text-center col-sm align-self-center">Every team has a unique process for shipping software. Use
            an out-of-the-box workflow, or create one to match the way your team works.</p>
    </div>
</div>
<div class="container"><img [src]="workflow" class="rounded mx-auto d-block" alt="..."></div>


<div style="background-color:#212529;" class="footer">
    <br>
    <div class="container-fluid">
        <div class="row">

            <div class="col text-center">
                <h5 class="d-none d-lg-block">About </h5>

            </div>
            <div class="col text-center">
                <h5 class="d-none d-lg-block">Contact Us</h5>

            </div>

            <div class="col text-center">
                <h5 class="d-none d-lg-block">FAQ</h5>
            </div>
            <div class="col text-center">
                <h5 class="d-none d-lg-block">Terms of Use </h5>

            </div>
            <div class="col text-center">
                <h5 class="d-none d-lg-block">Privacy Policy </h5>

            </div>
        </div>
    </div>
    <hr>
    <br>
    <div id="footer-bottom">

        <div class="" id="FAQ"></div>


        <div id="copyright_container">


        </div>
        <div class="text-end mx-3" id="copyright">
            © Copyright 2021 Raiser
        </div>

    </div>
</div>